.content {
    display: flex;
    flex-direction: column;
    line-height: 1.7em;

    a {
        text-decoration: underline;
    }

    hr, .wp-block-separator {
        padding: 3rem;
        border: none !important;
        margin: 0;
        height: auto;
        background: transparent;

        &:before {
            content: '/\2217-----\2217/';
            display: block;
            font-size: 1.5em;
            color: var(--light-accent-color);
            font-family: var(--monospace-font);
            text-align: center;
        }
    }

    figure {
        &.wp-block-gallery {
            margin-top: 0 !important;
            margin-bottom: 1em !important;
        }
        
        &.wp-block-image img {
            border-radius: 5px;
        }
    }

    .wp-block-code code {
        white-space: pre !important;
    }

    .alignwide {
        align-self: center;
        margin: 5rem -22% !important;
        max-width: 75vw;

        & > * {
            align-self: auto !important;
        }
    }

    .alignfull {
        align-self: center;
        margin: 5rem -44% !important;
        max-width: 100vw;

        & > * {
            align-self: auto !important;
        }
    }
}

.sd-title, .share-customize-link {
    display: none !important;
}

.sd-sharing {
    margin-bottom: 0 !important;
}