.parallax-wrap,
.background-image,
.background-image:after,
.background-image .image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.background-image {
    background-color: #394045;
    
    .image {
        background-size: cover;
        background-position: center;
    }

    .blurred {
        filter: blur(16px);
        transform: scale(1.1);
        visibility: visible;
        transition: visibility 0s linear .6s;
    }

    .lazyload {
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1) translateZ(0);
        transition: opacity 600ms cubic-bezier(0.3, 0.58, 0.42, 0.9), transform 600ms cubic-bezier(0.3, 0.58, 0.42, 0.9), visibility 0s;
    }

    &.visible {
        .blurred {
            visibility: hidden;
        }

        .lazyload {
            opacity: 1;
            visibility: visible;
            transform: scale(1) translateZ(0);
        }
    }
}