:root {
    --accent-color: #307d7f;
    --dark-accent-color: #003030;
    --medium-accent-color: #649e9f;
    --bright-accent-color: #17afb3;
    --light-accent-color: #bed3d4;
    --background-accent-color: #e5f5e9;
    --secondary-color-orange: #674020;
    --secondary-color-yellow: #676320;
    --secondary-color-plum: #4b235a;
    --secondary-color-teal: #1f6662;
    --secondary-color-red: #fb3348;
    --secondary-color-blue: #39538f;
    --page-background: #fafafa;
    --page-background-shadow: #858585;
    --category-background: #afafaf;
    --not-quite-black: #252525;
    --really-not-quite-black: #5c6863;
    --loader-foreground: #00000036;
    --loader-background: #0000000d;

    --space-between-page-top-and-content: 40px;
    --nav-item-height: 24px;
    --logo-height: 44px;
    --post-body-width: 700px;

    --right-pattern-width: 120px;
    --right-pattern-width-small: 46px;

    --system-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --subtitle-font: 'Menco', Roboto, Helvetica, Arial, sans-serif;
    --header-font: 'Bree Serif', Georgia, Serif;
    --monospace-font: 'Nanum Gothic Coding', 'Ubuntu Mono', 'Roboto Mono', monospace;
}
