name: Publish Theme

on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  Publish-Theme:
    name: Publish-Theme
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v6
        with:
          node-version: 25
      - name: Build Theme
        run: |
          npm install
          npm run build
      - name: Upload the artifact
        uses: actions/upload-artifact@v4
        with:
          name: wpcom
          path: |
            .
            !.git*
          retention-days: 1